# Build / packaging
*.egg-info/
dist/
build/
*.egg
*.whl

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
